# Ignore test.cpp
test.cpp

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
myenv/
venv/
.env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.log

# Ignore datasets (optional)
input.txt

/OOP/

ch06/sms_spam_collection*
ch06/test.csv
ch06/train.csv
ch06/validation.csv

ch06/gpt2
ch06/review_classifier.pth

